<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style4.css" />
  
</head>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="/images/logo.jpg" alt="" />
    </div>
    <span class="logo_name">
      <span style="color: black">Med</span>
      <span style="color: rgb(130, 237, 130)">Remind</span>
    </span>
  </div>
  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class="uil uil-estate"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/patient/form">
          <i class="uil uil-files-landscapes"></i>
          <span class="link-name">Details</span>
        </a>
      </li>
      
      <li>
        <a href="/pres/add">
          <i class="uil uil-thumbs-up"></i>
          <span class="link-name">Add</span>
        </a>
      </li>
      <li>
        <a href="/pres/report-card">
          <i class="uil uil-file-alt"></i>
          <span class="link-name">report-card</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-chart"></i>
          <span class="link-name">Analytics</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-share"></i>
          <span class="link-name">Refill Stock</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <a href="/auth/login">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>
      <li class="mode">
        <div class="mode-toggle"></div>
      </li>
    </ul>
  </div>
</nav>
</html>