<h2>Add Prescription</h2>
<form action="/prescription/add" method="POST">
    <input type="text" name="medicine" placeholder="Medicine Name" required><br>
    <input type="time" name="time" required placeholder="Set time"><br>
    <input type="number" name="days" placeholder="For how many days?" required min="1"><br>
    <button type="submit">Add</button>
</form>

